<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Movie Genre Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='movie-favicon.ico') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class=" bg-gray-100 font-sans">
        <div class="container mx-auto p-4">
            <h2 class="text-8xl text-center font-heading font-bold">
                <span class="text-[#00C16A]">SCRIPTALYZER</span>
            </h2>
            <div class="description text-center mt-4">
                <p class="text-xl text-slate-600 font-semibold">--- Movie Genre Predictor ---</p>
            </div>
        </div>
        <div class="ml-container mx-auto mt-8 p-4 max-w-screen-md">
            <form action="{{ url_for('predict') }}" method="POST">
                <div class="text-start">
                    <p class="text-xl text-slate-600 font-semibold">Write a short script</p>
                </div>
                <textarea class="message-box p-4 rounded-lg border border-gray-300 w-full h-40" name="message" ></textarea><br/>
                <input type="submit" class="mt-4 px-4 py-2 bg-[#00C16A] text-white rounded-md cursor-pointer hover:bg-[#00A16A] font-semibold" value="Predict">
            </form>
        </div>
        <div class="bottom-0 fixed p-4 text-center w-full bg-inherit">
            <div class="mt-8">
                <a target="_blank" href="https://github.com/aayu5hgit/scriptalyzer" class="text-2xl text-[#00C16A] mx-5"><i class="fab fa-github fa-lg contact-icon"></i></a>
            </div>
            <p class=" mt-2 text-md font-semibold text-gray-700 ">Made with ❤️ by Aayush Talreja</p>
        </div>
    </body>
</html>
